h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Exo", sans-serif;
}
body{
    background-image: url("../pictures/blue_sky.jpg");
    background-repeat:no-repeat;
    background-size: 150%;
}
label{
    color: white;
    font-size: 20px;
    font-family: "Courier New", monospace;
}
div{
    color: aliceblue;
    font-size: 25px;
    font-family: "Times New Roman";
}
legend{
  font-style: italic;
}
